body {
  margin: 0;
  width: 100%;
  font-family: -apple-system, BlinkMacSystemFont, 'Inter', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --main-bg-color: #FFF;
  --counter-bg-color: #043873;
  --light-bg-color: #4F9CF9;
  --xlight-bg-color: #C4DEFD;
  --main-color: #043873;
  --secondary-color: #FFF;
  --highlight-color: #FFE492;
}
